<header class="clearfix">
    <div id="square"></div>
    <div id="main-header"><img src="assets/images/title.png"></div>
    <img id="logo" src="assets/images/aws-logo.png"/img>
</header>
<section id="wrapper" class="login-register">
    <div class="login-box">
        <div class="white-box">
            <form name="confirmForm" class="form-horizontal m-t-20" novalidate ng-submit="confirmAccount(confirmForm.$valid)">
                <div class="form-group ">
                    <div class="col-xs-12">
                        <h3>Confirm your account</h3>
                        <p class="text-muted">Confirm your Zombie Apocalypse chat account.</p>
                    </div>
                </div>
                <div class="form-group" ng-show="errormessage">
                    <div class="col-xs-12 has-error">
                        <p class="help-block">{{errormessage}}</p>
                    </div>
                </div>
                <div class="form-group " ng-class="{ 'has-error': confirmForm.email.$touched && confirmForm.email.$invalid }">
                    <div class="col-xs-12">
                        <input name="email" class="form-control" ng-model="user.email" required placeholder="Email" type="email">
                        <div class="help-block" ng-messages="confirmForm.email.$error" ng-if="confirmForm.email.$touched">
                            <p ng-message="required">This field is required</p>
                            <p ng-message="email">This needs to be a valid email</p>
                        </div>
                    </div>
                </div>
                <div class="form-group " ng-class="{ 'has-error': confirmForm.confirmCode.$touched && confirmForm.confirmCode.$invalid }">
                    <div class="col-xs-12">
                        <input name="confirmCode" class="form-control" ng-model="user.confirmCode" required placeholder="Confirmation Code" type="text">
                        <div class="help-block" ng-messages="confirmForm.confirmCode.$error" ng-if="confirmForm.confirmCode.$touched">
                            <p ng-message="required">This field is required</p>
                        </div>
                    </div>
                </div>
                <div class="form-group text-center m-t-40">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit" ng-disabled="confirmForm.$invalid">Confirm</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
